<div class="opis">
  <h1>Antonio Vinković, avinkovic22&#64;student.foi.hr</h1>
  <img src="/dokumentacija-resursi/slika.jpg" alt="slika autora" class="slika-autora">
</div>
<div class="baze">
  <img src="/dokumentacija-resursi/baza1.png" alt="era model baza 1" (click)="otvoriSliku('/dokumentacija-resursi/baza1.png')">
  <img src="/dokumentacija-resursi/baza2.png" alt="era model baza 2" (click)="otvoriSliku('/dokumentacija-resursi/baza2.png')">
</div>

<table>
    <thead>
      <tr>
        <th>Resurs Parametri</th>
        <th>GET čitanje</th>
        <th>POST kreiranje</th>
        <th>PUT ažuriranje</th>
        <th>DELETE brisanje</th>
      </tr>
    </thead>
    <tbody>
        <tr><td>servis/korisnici</td><td></td><td>Implementirano</td><td></td><td></td></tr>
        <tr><td>servis/korisnici/korime</td><td></td><td></td><td></td><td>Implementirano</td></tr>
        <tr><td>servis/osoba?stranica=broj</td><td>Implementirano</td><td>Implementirano</td><td></td><td></td></tr>
        <tr><td>servis/osoba/id</td><td>Implementirano</td><td></td><td></td><td>Implementirano</td></tr>
        <tr><td>servis/osoba/id/film?stranica=broj</td><td>Implementirano</td><td></td><td>Implementirano</td><td>Implementirano</td></tr>
        <tr><td>servis/film?stranica=broj&[datumOd=timestamp&datumDo=timestamp]</td><td>Implementirano</td><td>Implementirano</td><td></td><td></td></tr>
        <tr><td>servis/film/id</td><td>Implementirano</td><td></td><td></td><td>Implementirano</td></tr>
    </tbody>
</table>
<table>
    <thead>
      <tr>
        <th>Uloga</th>
        <th>Stranice</th>
        <th>Opis</th>
      </tr>
    </thead>
    <tbody>
        <tr><td>Gost</td><td>Početna</td><td>Implementirano</td></tr>
        <tr><td>Gost</td><td>Dokumentacija</td><td>Implementirano</td></tr>
        <tr><td>Gost</td><td>Prijava, Odjava</td><td>Implementirano</td></tr>
        <tr><td>Gost</td><td>Registracija</td><td>Implementirano</td></tr>
        <tr><td>Korisnik</td><td>Pocetna</td><td>Implementirano</td></tr>
        <tr><td>Korisnik</td><td>Osobe</td><td>Implementirano</td></tr>
        <tr><td>Korisnik</td><td>Detalji</td><td>Implementirano</td></tr>
        <tr><td>Admin</td><td>Korisnici</td><td>Implementirano</td></tr>
        <tr><td>Admin</td><td>Dodavanje</td><td>Implementirano</td></tr>
    </tbody>
</table>

<div class="todo-opis">
  <span>1. Tablice su ažurirane</span>
  <span>2. Lista je napravljena</span>
  <span>3. Dokumentacija je u sklopu angulara kao komponenta</span>
  <span>4. Zadana struktura i operacije napravljene</span>
  <span>5. Napravljena kompajlirana verzija i posluživanje</span>
  <span>6. Ključevi izbrisani</span>
  <span>7. Poslužitelj je prebačen</span>
  <span>8. Klijentski dio prebačen na angular i SCSS</span>
  <span>9. Angular preko servisa šalje fetch zahtjeve prema poslužitelju</span>
  <span>10. Informacije o adresi se čitaju iz environment datoteke</span>
  <span>11. Dizajn je napravljen uz pomoć SCSS</span>
  <span>12. reCaptcha sustav nije implementiran</span>
  <span>13. Dvorazinska autentifikacija nije implementirana</span>
  <span>14. Dvorazinska autentifikacija nije implementirana</span>
  <span>15. Početni korisnici postoje kao admin i obican i njihove informacije se nalaze na stranici prijave</span>
  <span>16. Stranica s filtriranjem implementirana</span>
  <span>17. Nije implementirano za dodatne bodove</span>
</div>